<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form th:method="POST" th:action="@{/cars}" th:object="${car}">
    <label for="firstname">Enter model: </label>
    <input type="text" th:field="*{model}" id="firstname"/>
    <br/>
    <label for="lastname">Enter series: </label>
    <input type="text" th:field="*{series}" id="lastname"/>
    <br/>
    <label for="email">Enter color: </label>
    <input type="text" th:field="*{color}" id="email"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>